.gifsSectionWrapper {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  @include atLarge {
    height: 100vh;
    padding-top: 40px;
  }
  .category-title {
    color: $white;
    width: 100%;
    text-align: center;
    background-color: $main;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 6px 26px 31px $main;
  }
  .gifs-container {
    padding: 70px 10px 0 10px;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;

    scrollbar-color: $magenta transparent;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $magenta;
      border-radius: 10px;
    }
    h1 {
      color: $yellow;
      text-align: center;
      font-size: 30px;
    }
    .gif-wrapper {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        .hover-overlay {
          opacity: 0.8;
        }
      }
      .hover-overlay {
        width: 100%;
        height: 100%;
        background-color: $main;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        transition: opacity 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          outline: none;
          border: 1px solid $white;
          background-color: transparent;
          cursor: pointer;
          font-size: 40px;
          height: 70px;
          width: 70px;
          margin: 5px;
          border-radius: 100%;
          &:hover {
            border: 1px solid $yellow;
          }
        }
        .save-btn {
          color: $yellow;
        }
        .share-btn {
          color: rgb(175, 175, 175);
        }
      }
    }
  }
}
