header {
  width: 100%;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    padding: 10px 0;
    font-size: 35px;
    display: inline-block;
    color: $magenta;
    .text-special {
      color: $yellow;
    }
  }
  .favorites-btn {
    padding: 7px 13px;
    border: 2px solid $mint;
    border-radius: 50px;
    color: $white;
    outline: none;
    cursor: pointer;
    .fas {
      color: $yellow;
    }
  }
}
