.search-area {
  width: 100%;
  margin-top: 10px;
  form {
    margin: 0 auto;
    position: relative;
    width: 80%;
    input {
      width: 100%;
      padding: 7px 0 7px 15px;
      background-color: $gray;
      border: none;
      color: white;
      font-size: 20px;
      border-radius: 3px;
      outline: none;
    }
    button {
      outline: none;
      cursor: pointer;
      width: 55px;
      height: 100%;
      background-color: $purple;
      border: none;
      color: $white;
      border-radius: 3px;
      position: absolute;
      right: 0;
      .fas {
        background: transparent;
      }
    }
  }
  .select-category-btns {
    width: 80%;
    margin: 20px auto;
    button {
      color: $white;
      border: none;
      outline: none;
      background-color: $magenta;
      padding: 5px 9px;
      margin: 5px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
